<template>
    <div class="container flex-center full-height">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <span class="lead">Warehouse</span>
                    </div>

                    <div class="card-body">
                        <div class="form-group">
                            <label>Truck max load (in tons)</label>
                            <input v-validate="'decimal:2|min_value:1|max_value:10'" v-model="form.load" name="maxload" type="number" min="1" max="10" class="form-control">
                            <span>{{ errors.first('maxload') }}</span>
                        </div>
                    </div>

                    <div class="card-footer">
                        <button type="button" class="btn btn-outline-success btn-block" @click="store">Do Magic</button>
                    </div>
                </div>
            </div>
        </div>
        <product-modal v-if="showModal" :data="data" @close="showModal = false"/>
    </div>
</template>

<script>
import productModal from './ProductModal';
    export default {
        data() {
            return {
                form: {
                    load: 1,
                },
                showModal: false,
                data: []
            }
        },
        methods: {
            store() {
                axios.post('/api/truck/store', this.form).then(res => {
                  this.showModal = true;
                  this.data = res.data;
                }).catch(err => console.log(err));
            }
        },
        components: {
          productModal
        }
    }
</script>
