<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">

          <div class="modal-header">
            <h2>Truck {{ data.truck.id }}</h2>
          </div>

          <div class="modal-body">
            <p class="lead">Products on the truck</p>
            <table class="table table-hover">
              <thead>
                <th>Product</th>
                <th>Weight</th>
              </thead>
              <tbody>
                <tr v-for="product in data.products">
                  <td>{{ product.name }}</td>
                  <td>{{ fixFloat(product.weight) }}</td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td><strong>Total weight:</strong></td>
                  <td><strong>{{ fixFloat(data.sum) }} kg</strong></td>
                </tr>
                <tr>
                  <td><strong>Total cost:</strong></td>
                  <td><strong>{{ fixFloat(data.cost) }} money</strong></td>
                </tr>
              </tfoot>
            </table>
          </div>

          <div class="modal-footer">
              <button class="btn btn-outline-primary float-right" @click="$emit('close')">
                Close
              </button>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
export default {
  props: ['data'],
  methods: {
    fixFloat(num) {
      return parseFloat(num).toFixed(2);
    }
  }
}
</script>

<style scoped>
  .modal-mask {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
  }

  .modal-wrapper {
    display: table-cell;
    vertical-align: middle;
  }

  .modal-container {
    width: 600px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
  }

  .modal-header h3 {
    margin-top: 0;
    color: #42b983;
  }

  .modal-body {
    margin: 20px 0;
  }

  strong {
    font-weight: 700;
  }

  /*
   * The following styles are auto-applied to elements with
   * transition="modal" when their visibility is toggled
   * by Vue.js.
   *
   * You can easily play with the modal transition by editing
   * these styles.
   */

  .modal-enter {
    opacity: 0;
  }

  .modal-leave-active {
    opacity: 0;
  }

  .modal-enter .modal-container,
  .modal-leave-active .modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
</style>
